@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Regular.ttf") format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Medium.ttf") format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-Bold.ttf") format(truetype);
  font-weight: bold;
}

:root {
  --primary: var(--red);
  --disabled: rgb(214, 214, 214);

  --blue: rgb(50, 154, 255);
  --green: rgb(10, 255, 124);
  --red: rgb(255, 10, 108);
  --yellow: rgb(255, 230, 10);
  --pink: rgb(251, 10, 255);
  --purple: rgb(190, 10, 255);

  --border-light: #dfdfdf;
  --border-dark: #606060;
  --box-bg-light: #fff;
  --box-bg-dark: #474747;
  --textarea-bg-dark: #585858;
  --text-dark: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

.wrapper {
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.red {
  --primary: var(--red) !important;
}

.green {
  --primary: var(--green) !important;
}

.blue {
  --primary: var(--blue) !important;
}

.yellow {
  --primary: var(--yellow) !important;
}

.pink {
  --primary: var(--pink) !important;
}

.purple {
  --primary: var(--purple) !important;
}

@media only screen and (max-width: 550px) {
  body {
    justify-content: unset;
    align-items: unset;
  }
  .wrapper {
    width: 100%;
  }
  .box,
  nav {
    border-radius: 0px !important;
  }
}
