.box {
  width: auto;
  height: auto;
  background-color: var(--box-bg-light);
  border: 1px solid var(--border-light);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
}

.box.dark {
  background-color: var(--box-bg-dark) !important;
  border: 1px solid var(--border-dark) !important;
}

.box .box-header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--border-light);
  padding: 20px;
}

.box .box-header .text-area {
  border-radius: 4px;
  border: 1px solid var(--border-light);
  background-color: var(--box-bg-light);
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.box .box-header .text-area:focus-within,
.box.dark .box-header .text-area:focus-within {
  border-color: var(--primary);
  transition: ease-in 0.3s;
}

.box .box-header .text-area .icon {
  height: 24px;
  width: 24px;
  margin: 0 15px;
  color: var(--disabled);
}

.box .box-header .text-area input[type="text"] {
  font-size: 16px;
  width: 100%;
  outline: 0;
  border: none;
  padding: 15px 15px 15px 0;
  font-weight: 500;
  background-color: #fff;
}

.box.dark .box-header .text-area input[type="text"] {
  background-color: var(--textarea-bg-dark);
  color: var(--text-dark);
}

.box.dark .box-header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #606060;
  padding: 20px;
}

.box.dark .box-header .text-area {
  border-radius: 4px;
  border: 1px solid #606060;
  background-color: #585858;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.box .box-header ul {
  margin: 15px 0 0 0;
}

.box .box-header ul li {
  display: inline-block;
  list-style-type: none;
  border-bottom: 2px solid transparent;
  padding: 6px 2px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(194, 194, 194);
}

.box .box-header ul li:not(:last-child) {
  margin: 0 8px 0 0;
}

.box .box-header ul li.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  cursor: default;
  transition: ease-in 0.3s;
}

.box .box-content {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.box.dark .box-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--text-dark);
}

.box .box-content .item {
  padding: 15px 0;
  border-bottom: 1px solid var(--border-light);
}

.box.dark .box-content .item {
  padding: 15px 0;
  border-bottom: 1px solid var(--border-dark);
}

.box .box-content .item label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: var(--disabled);
}

.container input:checked ~ .checkmark {
  background-color: var(--primary);
}

.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.box .box-content .item label.completed {
  text-decoration: line-through;
  font-style: italic;
  color: #a4a4a4;
}
