nav {
  padding: 10px 15px;
  background-color: #00000055;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .temas,
nav .colors {
  display: flex;
  align-items: center;
}

nav .temas {
  background-color: #51515173;
  border-radius: 25px;
  padding: 5px;
}

nav .temas .item.active {
  background-color: rgb(222, 222, 222);
}

nav .temas .item.active img {
  filter: invert(60%);
}

nav .temas .item,
nav .colors .item {
  margin: 0 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .colors .item.red {
  background-color: var(--red);
}

nav .colors .item.green {
  background-color: var(--green);
}

nav .colors .item.blue {
  background-color: var(--blue);
}

nav .colors .item.yellow {
  background-color: var(--yellow);
}

nav .colors .item.pink {
  background-color: var(--pink);
}

nav .colors .item.purple {
  background-color: var(--purple);
}
